<!DOCTYPE html>
<html ng-app="heroApp">
<head>
    <meta charset="UTF-8">
    <title>APP</title>

    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>

    <!-- build:js lib.js -->
    <script src="app.js"></script>

    <script src="scripts/controllers/MainCtrl.js"></script>
    <script src="scripts/controllers/FooterCtrl.js"></script>
    <!-- endbuild -->

</head>

<body>

<div ng-controller="MainCtrl">
    <h1>{{titulo}}</h1>
</div>

<div ng-controller="FooterCtrl">
    <h1>{{titulo}}</h1>
</div>
</body>

</html>